.navbar
  .navbar-inner
    %a.brand{:href => admin_path} Backend
    %ul.nav
      %li.active
        %a{:href => admin_users_path} 用户管理
      %li
        %a{:href => admin_brands_path} 品牌管理
      %li
        %a{:href => admin_categories_path} 分类管理
